<footer>
    <ul>
        <a href="https://ngonb.ru/services/faq/archive/kraevedenie-novosibirskaya-oblast/">
            <li>Архив справок «Спроси краеведа»</li>
        </a>
        <a href="#">
            <li>Написать нам</li>
        </a>
        <a href="#">
            <li>Полезные ссылки</li>
        </a>
        <a href="#">
            <li>Контакты</li>
        </a>
    </ul>
    <p>© 2012–2019 ГАУК НСО <br>
        Новосибирская государственная
        областная научная библиотека</p>
</footer>
</body>
</html>
<script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="slick/slick.min.js"></script>
<script src="js/main.min.js"></script>

